% rebase('templates/template.ptl', title='CS 106A | Final Exam')

<!-- Header -->
<div id="pageHeader">
    <h1>
		Final Exam Information
	</h1>
</div>
<hr/>

<div class="alert alert-danger">
	For a variety of reasons (including university policy), there will be <strong>no alternate time</strong> for the final exam (other than for OAE accommodations). Please make sure that you can attend the final exam at the specified time.
</div>

<!-- Info/Dates -->
<div class="row">
	<div class="col-xs-6 col-sm-4">
		<div class="well">
    		<b>Exam: Last Names A-O</b>
    		<br/>
    		<span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span> Friday, August 18
    		<br/>

    		<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> 12:15-3:15PM
    		<br/>

    		<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> NVIDIA Auditorium
    		<br/>
    		<br/>
    		<div class="mapOverlay" onClick="style.pointerEvents='none'"></div>
	        <div class="google-maps">
	        	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.396866793715!2d-122.17639054916224!3d37.42772837972516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbb2ac97723cb%3A0xa6e8fc1a7a5f2c29!2sNVIDIA+Auditorium!5e0!3m2!1sen!2sus!4v1502919715852" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	        </div>
		</div>
	</div>
	<div class="col-xs-6 col-sm-4">
		<div class="well">
    		<b>Exam: Last Names P-Z</b>
    		<br/>
    		<span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span> Friday, August 18
    		<br/>

    		<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> 12:15-3:15PM
    		<br/>

    		<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Gates B01 (Basement)
    		<br/>
    		<br/>
    		<div class="mapOverlay" onClick="style.pointerEvents='none'"></div>
	        <div class="google-maps">
	        	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.2942783542567!2d-122.1756902991621!3d37.43015232972457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbb2b3f50f727%3A0xfd9cc3200ee97fda!2sGates+Computer+Science%2C+353+Serra+Mall%2C+Stanford%2C+CA+94305!5e0!3m2!1sen!2sus!4v1502919669669" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	        </div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="well">
    		<b>Review Session</b>
    		<br/>
    		<span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span> Mon/Tue, August 14-15
    		<br/>

		    <span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> 11:30AM-12:20PM
    		<br/>

   			<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> NVIDIA Auditorium
    		<br/>
    		<br/>
    		<div class="mapOverlay" onClick="style.pointerEvents='none'"></div>
	        <div class="google-maps">
	        	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.396866793715!2d-122.17639054916224!3d37.42772837972516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbb2ac97723cb%3A0xa6e8fc1a7a5f2c29!2sNVIDIA+Auditorium!5e0!3m2!1sen!2sus!4v1502919715852" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	        </div>
		</div>
	</div>
</div>

<!-- Materials -->
<h2>Practice Materials</h2>
<p><a href="{{pathToRoot}}resources/final/SyntaxReferenceSheet.pdf">Syntax Reference Sheet</a></p>

<p><a href="{{pathToRoot}}resources/final/PracticeFinalExam.pdf">Practice Final Exam</a> | <a href="{{pathToRoot}}resources/final/PracticeFinalExamSolution.pdf">Solution</a> | <a href="{{pathToRoot}}resources/final/PracticeFinal.zip">Code</a></p>

<p><a href="{{pathToRoot}}resources/final/PracticeFinalExam2.pdf">Practice Final Exam 2</a> | <a href="{{pathToRoot}}resources/final/PracticeFinalExamSolution2.pdf">Solution</a> | <a href="{{pathToRoot}}resources/final/PracticeFinal2.zip">Code</a></p>

<p>Sample final exam(s) posted here are intended to be similar to the actual final. The number of problems and type of problems on the actual exam will be relatively similar to what is seen on these practice exams, though we do not promise that it will be exactly the same in length or in difficulty.</p>
<p>Section Handouts and CodeStepByStep lecture practice problems (on the schedule page) are also great ways to practice relevant material.</p>

<!-- Logistics -->
<h2>Logistics</h2>
<p>
	The logistics for the final exam are the same as for the midterm exam (except for the updated syntax reference sheet above); please see <a href="{{pathToRoot}}exams/midterm.html#logistics">the midterm logistics</a> section for more information.
</p>


<!-- Material Covered -->
<h2>Material Covered</h2>
<p>The final focuses on material taught since the time of the midterm, including the following concepts listed below.  However, programming is inherently cumulative in that new topics build upon old ones. So you may be asked to solve problems that involve, though not necessarily focus primarily upon, past topics such as strings, int, double, boolean, random numbers, loops, if/else, parameters, return, expressions, variables, constants, file input with Scanner, and so on.  Note that you may be asked to <i>read</i> code (look at a piece of existing code and answer questions about it, such as writing its output) and/or <i>write</i> code (write a piece of code such as a method or short program that solves a given problem).</p>

<ul>
	<li><p><strong>Pass-by-value vs. pass-by-reference:</strong> demonstrate your understanding of objects vs. primitive values (e.g. passing objects, primitives, or arrays as parameters)</p>
	<li><p><strong>GraphicsPrograms:</strong> write Java code to implement a graphics program with certain behavior using Stanford's libraries; this may include drawing shapes such as GRect, GOval, etc., animation, and/or handling mouse events. (Though this topic was covered before the midterm, Breakout, which gave practice with this, was due after the midterm)</p></li>
	<li><p><strong>Arrays:</strong> interpret/write code that uses a 1D array to solve a problem.</p></li>
	<li><p><strong>2D Arrays:</strong> interpret/write code that uses a 2D array (possibly from the pixels of a graphical image, possibly not) to solve a problem.</p></li>
	<li><p><strong>Collections:</strong> interpret/write code that uses the collections <code>ArrayList</code> and/or <code>HashMap</code> to solve a problem.</p></li>
	<li><p><strong>Objects and Classes:</strong> interpret/write a class and/or add behavior to an existing class.</p></li>
	<li><p><strong>Inheritance:</strong> interpret/write a class that extends another class, such as GCanvas.</p></li>
	<li><p><strong>Interactors:</strong> interpret/write a program that uses GUI components (buttons, labels, text fields) and events to produce a given behavior.</p></li>
</ul>

<p>The following concepts will <strong>NOT</strong> be tested on the final:</p>
<ul>
	<li><p>Karel the Robot</p></li>
	<li><p>Material from the "Life After CS 106A" lectures</p></li>
	<li><p>Graphical shapes not used in lecture/section, such as <code>GArc</code> and <code>GPolygon</code>.</p></li>
	<li><p>converting numbers to/from other bases, such as binary or hexadecimal</p></li>
	<li><p><code>do</code> loops and the <code>continue</code> statement (<code>while</code> loops may be needed, though)</p></li>
	<li><p>the <code>switch</code> statement</p></li>
	<li><p><code>static</code> methods or data (other than <code>static final</code> constants)</p></li>
	<li><p>throwing exceptions with the <code>throw</code> statement</p></li>
	<li><p>any Stanford library functionality not explicitly taught in class, section or homeworks</p></li>
	<li><p>anything else not explicitly covered in lecture, section or homeworks</p></li>
</ul>



<!-- Exam Strategies -->
<h2>Exam Strategies</h2>
<p>The recommended exam strategies for the final exam are the same as for the midterm; please see <a href="{{pathToRoot}}exams/midterm.html#exam-strategies">the midterm exam strategies</a> section for more information.</p>