% rebase('templates/template.ptl', title='CS 106A | Midterm Exam')

<!-- Header -->
<div id="pageHeader">
    <h1>
		Midterm Exam Information
	</h1>
</div>
<hr/>

<!-- Info/Dates -->
<div class="row">
	<div class="col-xs-0 col-sm-2"></div>
	<div class="col-xs-6 col-sm-4">
	    <div class="well">
	        <b>Exam</b>
	        <br/>
	        <span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span> Monday, July 24
	        <br/>

	        <span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> 7-9PM PST
	        <br/>

	        <span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Hewlett 200
	        <br/>
	    </div>
	</div>
	<div class="col-xs-6 col-sm-4">
	    <div class="well">
	        <b>Review Session</b>
	        <br/>
	        <span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span> Friday, July 21
	        <br/>

	        <span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> 3:30-4:50PM PST
	        <br/>

	        <span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Gates B03 (recorded)
	        <br/>
	    </div>
	</div>
	<div class="col-xs-0 col-sm-2"></div>
</div>

<!-- Logistics -->
<h2>Logistics</h2>
<ul>
	<li><p><strong>The Honor Code:</strong> the exam is to be completed <strong>individually</strong> and without any assistance from a partner or other students.  Follow the <strong>Stanford Honor Code</strong> (see handout #2 in the Handouts dropdown) during the exam: submit only your own work, do not use unpermitted aids on the exam (see below for permitted aids), and say something to the instructors or students in question to prevent any inappropriate activity conducted by others surrounding the exam.
	</p></li>
	<li><p><strong>Permitted Materials:</strong> During the exam, you may use/reference:</p>
	<ol>
		<li><p><i>The Art &amp; Science of Java</i> textbook.</p></li>
		<li><p><i>Karel the Robot Learns Java</i> coursereader</p></li>
		<li><p><i>A syntax reference sheet</i>, provided during the exam (and linked <a href="{{pathToRoot}}resources/midterm/SyntaxReferenceSheet.pdf">here</a>)</p></li>
	</ol>
	<br />
	<p>You can bring any editions of the textbooks, but not a digital copy and not a printout of the book on loose paper.  There may be 1 or 2 "loaner" books available at the front of the room, but you will have limited access to these at best.</p>
	<p>You are <strong>not permitted to use any other materials</strong>, such as printouts (notes, slides, code, practice exams, etc.), other textbooks, or electronic devices (iPads, Kindles, calculators, music players, etc.).
	</p></li>
	<li><p><strong>Grading:</strong> Unless a question specifically mentions otherwise, the code you write will be graded purely on <i>functionality</i> (proper behavior and output) and not on <i>style</i>.  For instance, redundancy, variable names, commenting and decomposition will not impact your score.  <strong>However</strong>, we still encourage you to use good style in your code as oftentimes they are easier to write out (and modify if needed).</p>
	
	<p>Note that certain problems may have certain constraints (such as only using certain material, etc.) that you must follow to earn full credit.  We reserve the right to deduct points for extremely inelegant or inefficient code that dodges the spirit of the problem.</p>

	<p>You are not required to write <code>import</code> statements on the exam.  Please do not <i>abbreviate</i> any code on the exam (such as writing "x2" next to code to copy it twice).  Abbreviated code will not be graded.</p>

	<p><i>Pseudo-code</i> (writing English sentences and phrases instead of code) will typically earn little to no points.  For example, writing "In this part of the code, I want to open the file and read each line and print it" will not earn any points.</p>

	<p>We will provide ample blank pages after every problem in which to write your solutions.  An answer to a problem not in the designated answer pages for that problem will <i>not receive any credit.</i></p>

	</li>
</ul>


<!-- Material -->
<h2>Material Covered</h2>
<p>The midterm will cover all material up to the midterm (the Hangman assignment and all lectures/sections the week of Jul. 17).  This includes the following concepts listed below.  Note that you may be asked to <i>read</i> code (look at a piece of existing code and answer questions about it, such as writing its output) and/or <i>write</i> code (write a piece of code such as a method or short program that solves a given problem).</p>

<ul>
	<li><p><strong>Karel the Robot:</strong> given a piece of Java code that gives instructions to Karel the Robot, evaluate it and write/draw the resulting state of Karel's world; and/or, write a complete Karel program to accomplish a given result in Karel's world.</p></li>

	<li><p><strong>ConsolePrograms:</strong> write Java code to perform console input/output using Stanford's libraries (readInt, println, etc.)</p></li>

	<li><p><strong>Java Control Statements:</strong> given a piece of Java code using Java statements like <code>for</code> loops, <code>while</code> loops, <code>if/else</code>, etc., evaluate it and write its output/results; and/or, write Java code that uses Java control statements to solve a problem.</p></li>

	<li><p><strong>Expressions and Variables:</strong> given some Java expressions with numbers, strings, logic, etc., evaluate them and write the results; and/or, write Java code that uses expressions and operators to solve a problem.</p></li>

	<li><p><strong>Methods, Parameters, and Return:</strong> given a piece of Java code with several methods and parameters/returns, evaluate it and write its output/results; and/or, write Java methods that accept various parameters and/or return certain values.</p></li>

	<li><p><strong>RandomGenerator:</strong> write Java code exhibiting random behavior using the RandomGenerator class.</p></li>

	<li><p><strong>Strings and <code>char</code>:</strong> given a piece of Java code that interacts with text, evaluate it and write its output/results; and/or, write Java code that processes strings and characters to produce a given result.</p></li>

	<li><p><strong>Scanner and File Processing:</strong> write Java code that uses a Scanner to read data from a file in a given format and produce a particular result.</p></li>

	<li><p><strong>GraphicsPrograms:</strong> write Java code to implement a graphics program with certain behavior using Stanford's libraries; this may include drawing shapes such as GRect, GOval, etc., animation, and/or handling mouse events.</p></li>
</ul>

<p>The following concepts will <strong>NOT</strong> be tested on the midterm:</p>
<ul>
	<li><p>Graphical shapes not used in lecture/section, such as <code>GArc</code> and <code>GPolygon</code>.</p></li>
	<li><p>converting numbers to/from other bases, such as binary or hexadecimal</p></li>
	<li><p><code>do</code> loops and the <code>continue</code> statement (<code>while</code> loops may be needed, though)</p></li>
	<li><p>the <code>switch</code> statement</p></li>
	<li><p>throwing exceptions with the <code>throw</code> statement</p></li>
	<li><p>any Stanford library functionality not explicitly taught in class, section or homeworks</p></li>
	<li><p>anything else not explicitly covered in lecture, section or homeworks</p></li>
</ul>

<!-- Practice Exams -->
<h2>Practice Materials</h2>
<p><a href="{{pathToRoot}}resources/midterm/PracticeMidterm1.pdf">Practice Midterm 1</a> | <a href="{{pathToRoot}}resources/midterm/PracticeMidterm1Solution.pdf">Solution</a> | <a href="{{pathToRoot}}resources/midterm/PracticeMidterm1.zip">Starter Code</a></p>

<p>Section Handouts and CodeStepByStep lecture practice problems (on the schedule page) are also great ways to practice relevant material.</p>

<!-- Exam Strategies -->
<h2>Exam Strategies</h2>
<p>Take a look at <a href="{{pathToRoot}}resources/midterm/ExamStrategies.pdf">this handout</a> for recommended exam strategies; you can do it!