% rebase('templates/template.ptl', title='Assignment 6')

<!-- Header -->
<div class="row">
	<div class="col-xs-12">
		<div id="pageHeader">
			<h1>Assignment 6: BiasBars</h1>
			<p class="subtleHeading" style="font-size: 12pt;"><span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>
				Due: Tuesday, August 14, 11AM PST
			</p>
			<p class="subtleHeading" style="font-size: 12pt;"><span class="sidebaricon glyphicon glyphicon-user" aria-hidden="true"></span>
				May be done in pairs
			</p>
		</div>
		<hr/>


		<div class="alert alert-info"><b>Important:</b> As noted in the General Information handout, we will not be accepting any late submissions for this assignment, even if you have late days remaining.</div>
	</div>
</div>

<!-- Image -->
<div class="row">
	<div class="col-xs-12">
		<p style="text-align: center;"><img style="width: 100%;" alt="BiasBars" src="{{pathToRoot}}images/assignments/biasbars.png" /></p>
	</div>
</div>

<!-- Caption -->
<div class="row">
	<div class="col-xs-12">
		<p style="text-align:center">
			<i>Your sixth assignment is a program to visualize gender biases in online comments. It will give you practice with data structures, classes and interactors.</i>
		</p>
	</div>
</div>

<!-- Description -->
<div class="row">
	<div class="col-xs-12">
		<h2>Getting Started</h2>
		<p>
			There is a starter project including all of these problems that you can access using the link below. Once you have the starter code set up, edit the program files so that the assignment actually does what it’s supposed to do (see the assignment handout), which will involve a cycle of coding, testing, and debugging until everything works. The final step is to submit your assignment.
		</p>
		<p>
			This assignment may (optionally) be done in pairs. <strong>As a reminder, you may only pair up with others with the same section time and location.</strong>
		</p>
	</div>
</div>

<!-- Assignment Files -->
<h2>Assignment Files</h2>
<p>If you are unable to run the demo by double-clicking the downloaded JAR file, right-click on the JAR file and click "Open".</p>
<div class="row">
	<div class="col-xs-3">
		<a href="{{pathToRoot}}handouts/assignments/Assignment6.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;"></span><br><span>Handout</span></a>
	</div>
	<div class="col-xs-3">
		<a href="{{pathToRoot}}resources/CS106A-Assignment6.zip"><span class="glyphicon glyphicon-download" aria-hidden="true" style="font-size: 5em;"></span><br><span>Starter Code</span></a>
	</div>
	<div class="col-xs-3">
		<a href="{{pathToRoot}}resources/CS106A-Assignment6-Demo.jar"><span class="glyphicon glyphicon-download" aria-hidden="true" style="font-size: 5em;"></span><br><span>Demo</span></a>
	</div>
</div>

<!-- Output files -->
<h2>Output Files</h2>
<p>If you would like to view them separately, the output image files, which are already included in the starter code in the <code>output</code> folder, are listed below as well. For more example output, please see the demo program linked above. In the demo, you can go to File->Save and save images of the graph to compare against. Note that the demo uses a screen size of 800x600 and a BARS_WIDTH value of 100.</p>
<ul>
	<li><a href="{{pathToRoot}}resources/biasbars/initial.png">Initial graph</a>
	<li><a href="{{pathToRoot}}resources/biasbars/funny.png">Graphing "funny"</a>
	<li><a href="{{pathToRoot}}resources/biasbars/nice.png">Graphing "nice"</a>
	<li><a href="{{pathToRoot}}resources/biasbars/sporty.png">Graphing "sporty"</a>
	<li><a href="{{pathToRoot}}resources/biasbars/funny-notarealword.png">Graphing "funny" and then a word that doesn't exist</a>

</ul>

<!-- Resources -->
<h2>Other Resources</h2>
<p>Note: the "Debugging with Karel" handout still provides valuable debugging tips for Java programs!  In particular, the debugger functions identically for Karel and Java programs.  You can also mouse over variables while the program is paused in the debugger to view their current value (super useful for arrays!)</p>
<div class="row">
	<div class="col-sm-2 col-xs-3"><a href="{{pathToRoot}}lectures/Lecture24/Lecture24.pdf"><span class="glyphicon glyphicon-link" aria-hidden="true" style="font-size: 5em;"></span><br><span>Lecture 24 - BiasBars Overview</span></a>
	</div>
	<div class="col-sm-2 col-xs-3"><a href="{{pathToRoot}}{{courseInfo.SOFTWARE_LINK}}"><span class="glyphicon glyphicon-link" aria-hidden="true" style="font-size: 5em;"></span><br><span>{{courseInfo.SOFTWARE}} Guide</span></a>
	</div>
	<div class="col-sm-2 col-xs-3"><a href="{{pathToRoot}}style/"><span class="glyphicon glyphicon-link" aria-hidden="true" style="font-size: 5em;"></span><br><span>Style Guide</span></a>
	</div>
	<div class="col-sm-2 col-xs-3"><a href="{{pathToRoot}}handouts/4-Debugging-with-Karel.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;"></span><br><span>Debugging with Karel</span></a>
	</div>
	<div class="col-sm-2 col-xs-3"><a href="{{pathToRoot}}handouts/2-The-Honor-Code.pdf"><span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 5em;"></span><br><span>The Honor Code</span></a>
	</div>
</div>

<!-- FAQ -->
<h2>F.A.Q.</h2>
<dl>
	<dt id="println">
		Q: I am trying to use println to debug my program, but it's not working.  Why not?
	</dt>
	<dd>
		A: You can certainly debug using print statements in this assignment (or the debugger!), and we encourage it.  But not all files in this assignment are programs (some just define new variable types!), so you cannot call <code>println</code>.  To get around this, instead of writing just <code>println</code>, you need to write <code>System.out.println</code>, and the output will appear in the "Console" tab at the bottom of your Eclipse window.
	</dd>
	<dt id="int">
		Q: Why is it that all of my calculations in BiasBarsGraph come out with a result of 0?
	</dt>
	<dd>
		A: This could be because you are using integer division, or you are calling getWidth() or getHeight() before the canvas has been added to the screen.
	</dd>

	%include templates/assignments/faq.ptl
</dl>
