<!--
    Template that renders a single cell for a single lecture day.  Assumes a
    "day" parameter with a "date" (String) and "title" (String) field, and
    optionally "read", "due", "out" and "filename" fields.  See the project
    README for more information on the spec for schedule.json.
    -->
<td class="calendarCell">
    <div style="position:relative">

        <p class="subtleHeading">{{day["date"]}}</p>

        <!-- If there is a lecture number and title, show it -->
        {{str(lectureNumber) + ":" if lectureNumber != None else ""}} {{day["title"] if "title" in day else ""}}

        <!-- Render the lines for any reading, and HWs due or going out -->
        <p style="color:hsl(0, 0%, 60%);">
            <%
                lines = []

                if "read" in day:
                    lines.append("Read: " + day["read"])
                end
                if "due" in day:
                    lines.append("Due: Assn. " + day["due"])
                end
                if "out" in day:
                    lines.append("Out: Assn. " + day["out"])
                end
            %>

            % if len(lines) == 3:
                {{lines[0]}} <br /> {{lines[1]}} <br /> {{lines[2]}}
            % elif len(lines) == 2:
                {{lines[0]}} <br /> {{lines[1]}}
            % elif len(lines) == 1:
                {{lines[0]}}
            % end
        </p>

        <!-- If there is a filename, render links to the lecture materials -->
        % filename = day["filename"] if "filename" in day else None
        % if filename != None:
            <p>
                <a href="{{pathToRoot}}lectures/{{filename}}/{{filename}}.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/{{filename}}/{{filename}}.pdf">pdf</a>)<br/>
                % if "code" not in day or day["code"]:
                    <a href="{{pathToRoot}}lectures/{{filename}}/{{filename}}.zip"><span class="sidebaricon glyphicon glyphicon-folder-open" aria-hidden="true" title="pdf"></span> Code</a>
                % end
            </p>
        % end
        
        % practice = day["practice"] if "practice" in day else []
        % if practice != []:
            <p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#practiceModal{{lectureNumber}}">
                  Practice
                </button>
            </p>
        % end

        <div class="modal fade" id="practiceModal{{lectureNumber}}" tabindex="-1" role="dialog" aria-labelledby="practiceLabel{{lectureNumber}}">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="practiceLabel{{lectureNumber}}">Practice Problems</h4>
              </div>
              <div class="modal-body">
                <p>Practice with these additional problems on CodeStepByStep:</p>
                <ul>
                    % for practiceProblem in practice:
                        <li><a href="{{practiceProblem[1]}}">{{practiceProblem[0]}}</a></li>
                    % end
                </ul>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</td>