<td class="calendarCell">
    <div style="position:relative">
        <div class="inOut">
            % if "read" in day and "due" in day:
                <br>{{"Read: " + day["read"]}}
                <br>{{"Due: Assn #" + str(day["due"])}}
            % elif "read" in day:
                <br><br>{{"Read: " + day["read"]}}
            % elif "due" in day:
                <br><br>{{"Due: Assn #" + str(day["due"])}}
            % end
        </div>
        <p class="subtleHeading">{{day["date"]}}</p>
        {{lectureNumber}}: {{day["title"]}}
        % filename = day["filename"]
        <p>
            <a href="{{pathToRoot}}lectures/{{filename}}/{{filename}}.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="{{pathToRoot}}lectures/{{filename}}/{{filename}}.pdf">pdf</a>)<br/>
            <a href="{{pathToRoot}}lectures/{{filename}}/{{filename}}"><span class="sidebaricon glyphicon glyphicon-leaf" aria-hidden="true" title="pdf"></span> Code</a> (<a href="{{pathToRoot}}lectures/{{filename}}/{{filename}}.zip">zip</a>)
        </p>
    </div>
</td>