<head>

    %include templates/parts/head.html

</head>
<body>

    <!-- Navigation Bar -->
    %include templates/parts/navBar.html

    <div class="container">

        <div class="row">


            <div class="col-sm-12">

            	<h1>The Winter 2017 CS106A Graphics Contest</h1>
            	
            	<p class="subtleHeading"><span class="sidebaricon glyphicon glyphicon-file" aria-hidden="true"></span><a href="{{pathToRoot}}handouts/26 - Graphics Contest.pdf">Graphics Contest Handout</a></p>
            	<p class="subtleHeading"><span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>Friday, March 17th</p>
            	<hr/>

            </div>
         </div>

         <div class="row">
            <div class="col-sm-12">

            	 <div class="alert alert-info">Thanks to everyone who submitted. In total we had 60 serious submissions -- and the overall quality was astounding.</div>

            	<h2>Winners</h2>

            	<ul class="list-group">
            		

		            <li class="list-group-item">
		            	<h3>Temidayo Dairo (Bitmoji)</h3>
		            	<p><i>Upload a picture, circle your face, and this program will generate a personalized cartoon</i></p>
		            	<img style="max-width:100%" src="{{pathToRoot}}/img/contest/bitmoji1.png"></img>
		            	<img style="max-width:100%" src="{{pathToRoot}}/img/contest/bitmoji3.png"></img>
		            </li>

		            <li class="list-group-item">
		            	<h3>Julius Stener (Monopoly)</h3>
		            	<p><i>A full, and well executed, implementation of the classic game.</i></p>
		            	<img style="max-width:100%" src="{{pathToRoot}}/img/contest/monopoly1.png"></img>
		            </li>

		            <li class="list-group-item">
		            	<h3>Teresa Dayrit (Music Composer)</h3>
		            	<p><i>This program helps you compose a song in any key with a full range of mucial options. It can even autonomously produce a harmony.</i></p>
		            	<img style="max-width:100%" src="{{pathToRoot}}/img/contest/music1.png"></img>
		            </li>
		            <li class="list-group-item">
		            	<h3>James Wang (3D terrain generator)</h3>
		            	<p><i>This program teaches you about the "diamond-square algorithm", implements it to generate random but realistic 3D terrain, visualizes it in 3D allowing the user to rotate around (all using GLines)!</i></p>
		            	<img style="max-width:100%" src="{{pathToRoot}}/img/contest/terrain1.png"></img>
		            </li>
		         </ul>
		         <hr/>
            </div>

         </div>

         <div class="row">
            <div class="col-sm-12">

            	<h2>Runner Ups</h2>
            	

            	<ul class="list-group">
            		

		            <li class="list-group-item">
		            	<h3>Silvia Fernandez Illescas (Sudoku)</h3>

		            	<img style="max-width:100%" src="{{pathToRoot}}/img/contest/sudoku.png"></img>
		            </li>

		            <li class="list-group-item">
		            	<h3>Kolasa Stanislaw (Fractal Season)</h3>

		            	<img style="max-width:100%" src="{{pathToRoot}}/img/contest/fractalSeason.png"></img>
		            </li>

		            <li class="list-group-item">
		            	<h3>Justin Amezquita (3D Cloth Simulator)</h3>

		            	<img style="max-width:100%" src="{{pathToRoot}}/img/contest/cloth.png"></img>
		            </li>

		            <li class="list-group-item">
		            	<h3>Rachel Sun (Flappy Face)</h3>

		            	<img style="max-width:100%" src="{{pathToRoot}}/img/contest/flappyFace.png"></img>
		            </li>


		            <li class="list-group-item">
		            	<h3>Pablo Garcia Nieto (Mario World)</h3>

		            	<img style="max-width:100%" src="{{pathToRoot}}/img/contest/marioWorld.png"></img>
		            </li>

		            <li class="list-group-item">
		            	<h3>Nancy Diane (A Long Night)</h3>

		            	<img style="max-width:100%" src="{{pathToRoot}}/img/contest/story.png"></img>
		            </li>

		            <li class="list-group-item">
		            	<h3>Jihun Hong (Mondrian Generator)</h3>

		            	<img style="max-width:100%" src="{{pathToRoot}}/img/contest/mondrian.png"></img>
		            </li>

		            <li class="list-group-item">
		            	<h3>Spencer Robinson (Paint)</h3>

		            	<img style="max-width:100%" src="{{pathToRoot}}/img/contest/paint.png"></img>
		            </li>

		            <li class="list-group-item">
		            	<h3>Daniel Lozano Herrera (Bug Painter)</h3>

		            	<img style="max-width:100%" src="{{pathToRoot}}/img/contest/bugArt.png"></img>
		            </li>

		            <li class="list-group-item">
		            	<h3>JJ Parson (Mario Player)</h3>

		            	<img style="max-width:100%" src="{{pathToRoot}}/img/contest/marioB.png"></img>
		            </li>

		            <li class="list-group-item">
		            	<h3>Victor Cheruiyot (Karel Compiler)</h3>

		            	<img style="max-width:100%" src="{{pathToRoot}}/img/contest/karel.png"></img>
		            </li>
		            
		         </ul>

		         <br/>

            </div>
         </div>

         <div class="row">
            <div class="col-sm-12">

            	<h2>Honorable Mentions</h2>

            	<ul class="list-group">
            		

		            <li class="list-group-item">
		            	<h3>Austin Lee (Pokemon)</h3>
		            	
		            	<img style="max-width:100%" src="{{pathToRoot}}/img/contest/pikachu.png"></img>
		            </li>

		            <li class="list-group-item">
		            	<h3>Gergely Szucs (Gravity)</h3>
		            	
		            	<img style="max-width:100%" src="{{pathToRoot}}/img/contest/gravity.png"></img>
		            </li>

		            <li class="list-group-item">
		            	<h3>Shiheng Lu (Chaos)</h3>
		            	
		            	<img style="max-width:100%" src="{{pathToRoot}}/img/contest/chaos.png"></img>
		            </li>

		            <li class="list-group-item">
		            	<h3>Alec Lau (ASCII Art)</h3>
		            	
		            	<img style="max-width:100%" src="{{pathToRoot}}/img/contest/ascii.png"></img>
		            </li>

		            <li class="list-group-item">
		            	<h3>Dian Yap (Silk Art)</h3>
		            	
		            	<img style="max-width:100%" src="{{pathToRoot}}/img/contest/silk.png"></img>
		            </li>

		         </ul>

		         <div class="alert alert-info">There were other submissions worthy of an honorable mention. Coming soon...</div>
            </div>

         </div>

         %include templates/parts/footer.html
    </div>
 </body>