% rebase('templates/parts/template.tpl', title='CS 106A')

<!-- Home page header -->
<div class="row" id="indexHead">
    <div class="col-xs-12">
        <div id="logo"><img id="logoImg" src="images/logo.gif" alt="Stanford Logo" /></div>
        <div id="headerText" style="padding-bottom:15px;">
            <div id="title">
                CS 106A: Programming Methodology
            </div>
            <div>
                Summer 2017
            </div>
            <div>
                Monday, Tuesday, Wednesday, Thursday 11:30AM to 12:20PM in <a href="https://www.google.com/maps/place/NVIDIA+Auditorium/@37.4277284,-122.1763905,17z/data=!3m1!4b1!4m5!3m4!1s0x808fbb2ac97723cb:0xa6e8fc1a7a5f2c29!8m2!3d37.4277284!4d-122.1741965">NVIDIA Auditorium</a>
            </div>
        </div>
    </div>
</div>

<!-- Used later: rerouting alert for when course is archived -->
<!--
        <div class="row" >
            <div class="col-xs-12" id="infoCol">
                <div class="alert alert-warning"><b>Summer is over: </b> For the Fall quarter CS106A webpage follow <a href="http://web.stanford.edu/class/archive/cs/cs106a/cs106a.1182/">this link</a></div>
            </div>
        </div>
        -->

<hr/>

<!-- Home page body -->
<div class="row">
    <!-- Only shown on large screens (see css) -->
    <div class="col-sm-3" id="sidebarLeft">
        %include templates/parts/sidebar.tpl
    </div>

    <div class="col-sm-9">
        %include templates/parts/announcements.tpl
    </div>
    
    <!-- Only shown on small screens (see css) -->
    <div class="col-sm-3" id="sidebarRight">
        %include templates/parts/sidebar.tpl
    </div>
</div>