% rebase('templates/template.ptl')

<!-- Home page header -->
<div class="row" id="indexHead">
    <div class="col-xs-12">
        <div id="logo"><img id="logoImg" src="images/logo.gif" alt="Stanford Logo" /></div>
        <div id="headerText" style="padding-bottom:15px;">
            <div id="title">{{courseInfo.COURSE_TITLE}}</div>
            <div>{{courseInfo.QUARTER_FULL_NAME}}</div>
            <div>
                {{", ".join(courseInfo.LECTURE_DAYS)}}
                {{courseInfo.LECTURE_TIME}} in
                <a href="{{courseInfo.LECTURE_LOCATION_LINK}}">{{courseInfo.LECTURE_LOCATION}}</a>
            </div>
        </div>
    </div>
</div>

<!-- rerouting alert for when course is archived -->
% if courseInfo.QUARTER_OVER:
    <div class="row">
        <div class="col-xs-12" id="infoCol">
            <div class="alert alert-warning"><b>NOTE: this website is out of date.</b> This is the course web site from a past quarter, {{courseInfo.QUARTER_FULL_NAME}}. If you are looking for the Autumn 2018 website, you should visit https://web.stanford.edu/class/archive/cs/cs106b/cs106b.1192/ instead. Please be advised that courses' policies change with each new quarter and instructor, and any information on this out-of-date page may not apply to you.
            </div>
        </div>
    </div>
% end
<hr/>

<!-- Home page body -->
<div class="row">
    <!-- Only shown on large screens (see css) -->
    <div class="col-sm-3">
        %include templates/sidebar.ptl
    </div>

    <div class="col-sm-9">
        %include templates/announcements.ptl
    </div>
</div>