% rebase('templates/template.ptl', title='SCPD')

<!-- Header -->
<div class="row">
    <div class="col-xs-12">
        <div id="pageHeader">
            <h1>SCPD Office Hours</h1>
        </div>
        <hr/>
    </div>
</div>

<iframe src="https://calendar.google.com/calendar/embed?showTabs=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=stanford.edu_fdp39rb3plt3b6cu455bq45nik%40group.calendar.google.com&amp;color=%23853104&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>