<head>
	%include templates/parts/header.html
</head>
<body>
	%include templates/parts/navBar.html

	<div class="container">	

		<!-- Header -->
		<div class="row">
			<div class="col-xs-12">
				<div id="pageHeader">
					<h1>
						Textbooks
					</h1>
				</div>
				<hr/>
			</div>
		</div>

		<!-- Textbook images -->
		<div class="row">
			<div class="col-xs-6">
				<div class="thumbnail">
				    <img src="{{pathToRoot}}img/karel-the-robot-learns-java-cover.png" alt="Karel Coursereader">
				    <div class="caption">
				        <h3><i>Karel the Robot Learns Java</i></h3>
				        <p>by Eric S. Roberts (coursereader).  PDF available <a href="{{pathToRoot}}handouts/karel-the-robot-learns-java.pdf">here</a>.</p>
				    </div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="thumbnail">
				    <img src="{{pathToRoot}}img/art-science-of-java-cover.png" alt="Java Textbook">
				    <div class="caption">
				        <h3><i>The Art &amp; Science of Java</i></h3>
				        <p>by Eric S. Roberts.  ISBN 978-0321486127.</p>
				    </div>
				</div>
			</div>
		</div>
		
		<!-- Text body -->
		<div class="row">
			<div class="col-xs-12">
				<p>
					Students can purchase both textbooks from the Stanford University Bookstore, which is our recommended place to purchase them. <i>The Art &amp; Science of Java</i> book can also be ordered online from various retailers.  An online version of <i>Karel the Robot Learns Java</i> is also linked to above.

					<br />
					<br />

					Assigned readings will be from these textbooks, which were written by a Stanford CS professor and targeted directly for this course.  They also contain references for all topics covered in the class, as well as practice problems.  Moreover, our exams are open-book but closed-electronic-device, so it will be advantageous to own physical copies of these textbooks.

					<br />
					<br />

					However, our homework assignments don't come from the book, and the provided lecture slides generally cover the necessary material. So it is possible to achieve success in this course without owning the textbook. However, we recommend that each student either owns a copy or has convenient access to a copy. At least one copy of this textbook has been made available for checkout from the <a href="http://searchworks.stanford.edu/reserves">Stanford Library reserves</a> (search for 106A).
				</p>
			</div>
		</div>
		
		%include templates/parts/footer.html
	</div>
</body>