<head>
	%include templates/parts/header.html
</head>
<body>
	%include templates/parts/navBar.html

	<div class="container">	

		<!-- Header -->
		<div class="row">
			<div class="col-xs-12">
				<div id="pageHeader">
					<h1>
						Textbooks
					</h1>
				</div>
				<hr/>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<p>
					Our textbooks for CS106A this quarter are the following:
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<img style="width:100%" src = "{{pathToRoot}}img/art-science-of-java-cover.png"></img>
				<p style="text-align: center">
					Roberts, Eric S. <i>The Art &amp; Science of Java</i>. <br/> ISBN 978-0321486127.
				</p>
			</div>
			<div class="col-xs-6">
				<img style="width:100%" src = "{{pathToRoot}}img/karel-the-robot-learns-java-cover.png"></img>
				<p style="text-align: center">
					Roberts, Eric S. <i>Karel the Robot Learns Java</i>. <br/> (a 35-page course reader packet)
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<p>
					Students can purchase the textbooks from the Stanford University Bookstore, which is our recommended place to purchase this textbook. <i>The Art &amp; Science of Java</i> book can also be ordered online from various retailers.  An online version of <i>Karel the Robot Learns Java</i> is also available <a href="{{pathToRoot}}handouts/karel-the-robot-learns-java.pdf">here</a>.

					<br />
					<br />

					The books were written by a Stanford CS professor and targeted directly for this course, and make a useful supplement to the lecture and section presentations. Also, exams in this course will be open-book, so it will be advantageous to own the book for use as a reference during exams.

					<br />
					<br />

					However, our homework assignments don't come from the book, and the provided lecture slides generally cover the necessary material. So it is possible to achieve success in this course without owning the textbook. However, we recommend that each student either own a copy or have convenient access to a copy. For example, at least one copy of this textbook has been made available for checkout from the <a href="http://searchworks.stanford.edu/reserves">Stanford Library reserves</a> (search for 106A).
				</p>
			</div>
		</div>
		
		%include templates/parts/footer.html
	</div>
</body>