<h2>Importing and Running Projects</h2>
<p>
	Now that you have set up Eclipse, it's time to work on a project!  For each CS 106A assignment, we will provide a skeletal framework called a <strong>starter project</strong>. Using starter projects makes your life much easier by allowing you to ignore the many details involved in creating a project from scratch. Therefore, for each assignment your first task will be to download the starter project from the class website and then import it into your workspace.  Once you do that, you can work on your project.
</p>
<h3>Importing Projects</h3>
	<ol>
		<li>
			Download the starter project for the assignment you wish to work on.  Starter projects are linked to from their assignment overview page - see the "Assignments" dropdown in the top navigation bar.
		</li>
		<li>
			The starter project will download as a zip file (e.g. <strong>Assignment1.zip</strong>).  Expand the zip file.  In some cases, this may happen automatically when you download it.  Move the resulting folder to where you would like to save it on your computer.
		</li>
		<li>
			Launch Eclipse, and from the Stanford Menu at the top select "Import Project" (or look for the Import Project button below in the Eclipse toolbar).
			<br/>
			<img style="width:25rem" src="{{pathToRoot}}img/eclipse/stanfordMenuImport.png" alt="Stanford Menu Import" />
		</li>
		<li>
			Select the project you would like to import by clicking the topmost <strong>Browse...</strong> button and navigating to the folder from the earlier steps.  Then click <strong>OK</strong>.
			<br/>
			<img style="width:50rem" src="{{pathToRoot}}img/eclipse/importStep1.png" alt="Import Project Find Project Folder" />
		</li>
		<li>
			Now, make sure that the check box labeled "Copy projects into workspace" is <strong>unchecked</strong>, and then click the <strong>Finish</strong> button to import the project.
			<br/>
			<img style="width:50rem" src="{{pathToRoot}}img/eclipse/importStep2.png" alt="Import Project Find Project Folder" />
			<br/>
			Note that if you are unable to import the project, and it appears grayed-out in the "Projects" list, it may be because you already have a project in Eclipse with the same name.  You must delete the existing project (right-click on it in the sidebar and select <strong>Delete</strong>) before importing the new one.
		</li>
	</ol>
<p></p>
<h3>Running Projects</h3>
<p></p>