<h2>Importing and Running Projects</h2>
<p>
    Now that you have set up Eclipse, it's time to work on a project! For each CS 106A assignment, we will provide a skeletal framework called a <strong>starter project</strong>. Using starter projects makes your life much easier by allowing you to ignore the many details involved in creating a project from scratch. Therefore, for each assignment your first task will be to download the starter project from the class website and then import it into your workspace. Once you do that, you can work on your project.  These steps also apply to code from lecture, which will also be provided via a project you import.
</p>
<h3>Importing Projects</h3>
<ol>
    <li>
        Download the project you wish to import. For example, assignment starter projects are accessible via the "Assignments" dropdown at the top, while lecture code projects are accessible via the "Lectures" dropdown and section code projects via the "Section" dropdown.
    </li>
    <li>
        The starter project will download as a zip file (e.g. <strong>Assignment1.zip</strong>). Expand the zip file. In some cases, this may happen automatically when you download it. Move the resulting folder to where you would like to save it on your computer.
    </li>
    <li>
        Launch Eclipse, and from the Stanford Menu at the top select "Import Project" (or look for an icon like the one below in the Eclipse toolbar).
        <br/>
        <img style="width:25rem" src="{{pathToRoot}}img/eclipse/stanfordMenuImport.png" alt="Stanford Menu Import" />
    </li>
    <li>
        Select the project you would like to import by clicking the topmost <strong>Browse...</strong> button and navigating to the folder from the earlier steps. Then click <strong>OK</strong>.
        <br/>
        <img style="width:50rem" src="{{pathToRoot}}img/eclipse/importStep1.png" alt="Import Project Find Project Folder" />
    </li>
    <li>
        Now, make sure that the check box labeled "Copy projects into workspace" is <strong>unchecked</strong>, and then click the <strong>Finish</strong> button to import the project.
        <br/>
        <img style="width:50rem" src="{{pathToRoot}}img/eclipse/importStep2.png" alt="Import Project Find Project Folder" />
        <br/> Note that if you are unable to import the project, and it appears grayed-out in the "Projects" list, it may be because you already have a project in Eclipse with the same name. You must delete the existing project (right-click on it in the sidebar and select <strong>Delete</strong>) before importing the new one.
    </li>
    <li>
        You should now see the project in the left "Package Explorer" sidebar, like in the image below. Double-click on the project folder to expand its contents.
        <br/>
        <img style="width:50rem" src="{{pathToRoot}}img/eclipse/importStep3.png" alt="Package Explorer" />
        <br /> The <strong>lib</strong> folder contains the Stanford Library file, and the <strong>src</strong> folder contains the <strong>.java</strong> code files for this assignment. The <strong>res</strong> folder, if applicable, contains resources files such as images and sounds.  Karel projects also have a <strong>worlds</strong> folder containing the worlds for the project.
    </li>
    <li>
        Double-click on <strong>src</strong>, and within that double-click on the <strong>default package</strong>, to show the code files for the assignment. Then double-click on any code file to open it in the main editor window.
        <br/>
        <img style="width:50rem" src="{{pathToRoot}}img/eclipse/importStep4.png" alt="Open code file" />
        <br /> 
        Now go ahead and try running the project.  To do so, see the next section.
    </li>
</ol>
<h3>Running Projects</h3>
<ol>
	<li>
	    To run a program in your project, look for the "running person" icons in the top toolbar.  
	    <br/>
	    <img style="width:25rem" src="{{pathToRoot}}img/eclipse/runIcons.png" alt="Run Icons" />
	</li>
	<li>
		The "fast" running person immediately runs the most recently-run program (convenient when focusing on a single program), and the "slow" running person displays a list of all programs imported into Eclipse, like the following:
		<br/>
		<img style="width:50rem" src="{{pathToRoot}}img/eclipse/runProgram.png" alt="Run Program" />
		<br/>
		Note that a single project can contain several different programs.  Select the program you would like to run, and it will launch!
	</li>
</ol>
<h3>Closing Projects</h3>
<p>
	When you are done with a project and no longer wish to edit or run it, you can <strong>close</strong> it.  Closing the project does not delete the project, but tells Eclipse to no longer display that project's programs in the list of programs you can choose to run.  This may be helpful later in the quarter when you have several projects imported.  To do this, right-click on the project in the sidebar and select <strong>Close Project</strong>.
	<br/>
	<img style="width:30rem" src="{{pathToRoot}}img/eclipse/closeProject.png" alt="Close Project" />
	<br/>
	Its folder icon will change to a "closed" folder.  If you would like to reopen a project later, simply double-click on its folder in the sidebar again.
</p>
