<h2>Submitting Projects</h2>
<p>
	You submit all assignments directly through Eclipse. We check whether an assignment is turned in on time from the time we receive your electronic submission, which is timestamped in the submission process. That time is based on the time on the server that receives the assignment, so it pays to submit things with a few minutes to spare, particularly if you discover that your computer's clock is running slow.
	<br />
	To submit a project in Eclipse, follow these steps:
	<ol>
		<li>
			From the <strong>Stanford Menu</strong> dropdown at the top, select <strong>Submit Project</strong> (or look for the Submit Project icon below in the Eclipse toolbar).
			<br/>
			<img style="width:25rem" src="{{pathToRoot}}img/eclipse/stanfordMenuSubmit.png" alt="Stanford Menu" />
		</li>
		<li>
			Enter your SUNet ID and password, and then click the <strong>Authenticate</strong> button.  Then click <strong>Next</strong>.
		</li>
		<li>
			Select the assignment number for which you are making a submission, and then click <strong>Next</strong>.
		</li>
		<li>
			Select the project in Eclipse you would like to submit by clicking <strong>Browse...</strong> and selecting from among the current open projects in Eclipse.  Select the project you would like to submit and click <strong>OK</strong>.  This will submit all files in this project together.
		</li>
		<li>
			The name of your project should now appear in the box labeled "Project:".  Click the <strong>Finish</strong> button to submit.  It may take some time for your project to be fully submitted.
		</li>
		<li>
			Once your project is submitted, you will get a message saying the submission was successful.  Click <strong>OK</strong>.
		</li>
		<li>
			<strong>IMPORTANT: always make sure that your files were successfully submitted.</strong> You can do this by going to <a href="https://paperless.stanford.edu">paperless.stanford.edu</a>; this will show the files your section leader will see when grading your submission.  This is also where your section leader will post your assignment grades and comments.  Remember that <strong>You are responsible for double-checking Paperless to amke sure that your files were submitted properly.</strong>  Note that Paperless's web viewer may only display your <strong>.java</strong> files; however, if you download the submission from Paperless you can confirm that your other files are submitted as well.
		</li>
	</ol>

	You can submit as many times as you'd like - your section leader will grade your <i>most recent</i> submission.
	<br />
	<br />

	<strong>IMPORTANT: remember to keep a backup copy of your work.</strong>  Although we work hard to keep track of all assignment submissions, on occasion assignments are not received as expected, and we will ask you to resubmit.  <strong>You are responsible for keeping a backup copy of your work, in the event that a resubmission is required</strong>.  We highly recommend saving backup copies as well, using an external hard drive, a thumb drive, online storage services, etc.  See <a href="https://stutech-help.stanford.edu/hc/en-us/articles/211752126-What-should-I-do-to-backup-my-computer-">here</a> for other recommended ways to back up your data.
</p>