<!-- New announcements -->
<div>
	<p class="subtleHeading">NEW ANNOUNCEMENTS</p>
</div>

<!-- Welcome -->
<div class="well">
	<div class="newsfeedHeader">
		<div class="newsfeedTitle">Welcome</div>
		<div class="moment">2017062400</div>
	</div>

	<p>
		Welcome to CS 106A! We are looking forward to a fun quarter. Class starts Monday, June 26th at 11:30AM in NVIDIA Auditorium.  Please see the "Handouts" dropdown above for the General Information handout, as well as the Honor Code handout.  <strong>SCPD students</strong> should also read the SCPD Information handout.
		<div class="mapOverlay" onClick="style.pointerEvents='none'"></div>
		<div class="google-maps">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.3968667895306!2d-122.17638518469231!3d37.427728379824046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbb2ac97723cb%3A0xa6e8fc1a7a5f2c29!2sNVIDIA+Auditorium!5e0!3m2!1sen!2sus!4v1498094148969" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</p>
</div>

<!-- Old announcements -->
<!--
<hr/>
<div>
	<p class="subtleHeading">OLD ANNOUNCEMENTS</p>
</div>
-->