<!-- New announcements -->
<div>
	<p class="subtleHeading">NEW ANNOUNCEMENTS</p>
</div>

<!-- Section results -->
<div class="well">
	<div class="newsfeedHeader">
		<div class="newsfeedTitle">Lecture Feedback</div>
		<div class="moment">2017062700</div>
	</div>

	<p>
		As mentioned in lecture today, as a small portion of your section participation grade we are asking each student to provide brief feedback on <strong> 2 assigned lectures</strong> throughout the quarter.  The feedback should only take a few minutes, and will be used to understand how the course is going, and to help make it better.  You will receive an email with a link to the feedback form <strong>before lecture</strong> on each day to which you are assigned.  We greatly appreciate any feedback you have to improve the course!
	</p>
</div>

<!-- Section results -->
<div class="well">
	<div class="newsfeedHeader">
		<div class="newsfeedTitle">Section Assignments + Late Section Signups</div>
		<div class="moment">2017062700</div>
	</div>

	<p>
		Regular section signups have concluded.  We are currently making section assignments; you will be assigned your section by <strong>6PM today (6/27)</strong> at which point your assigned section leader will reach out with more information about your first section.
		<br />
		<br />
		If you missed regular section signups, the late signup form will be available starting at <strong>6PM today (6/27)</strong> in the "Section" dropdown at the top.  Any SCPD students who missed regular section signups should select "SCPD Section" when filling out this form to be assigned a grader.
		<br />
		<br />
		If you would like to request a section swap, please <i>carefully follow the instructions below</i>.  The deadline to request a section swap is <strong>Wednesday, 7/5 @ 3PM PST</strong>:
		<ul>
			<li>If you are an individual requesting a swap, you may do so via the "Section" dropdown at the top.</li>
			<li>If you are a pair that are in different sections but would like to be in the same section, please contact the Head TA, Rishi Bedi.</li>
		</ul>
	</p>
</div>

<!-- Section signups -->
<div class="well">
	<div class="newsfeedHeader">
		<div class="newsfeedTitle">Section Signups Open Until 11:59PM Monday 6/26</div>
		<div class="moment">2017062500</div>
	</div>

	<p>
		Section signups are now open!  Click on the "Section" dropdown at the top and select "Sign up for section" to submit your preferences.  As a reminder, signups are <strong>not first come first serve</strong>.  As such, you may modify your preferences any time up until the Monday 11:59PM deadline.  We will notify you of your section assignment by Tuesday afternoon, 6/27.  Sections start <strong>this week</strong>!

		<br />
		<br />

		<strong>Note:</strong> Remote SCPD students (if you are an SCPD student but able to attend a section on campus, you may disregard this message) should <strong>not sign up for a section</strong>; instead, register through the SCPD signup link in the "Section" tab.
	</p>
</div>

<!-- Welcome -->
<div class="well">
	<div class="newsfeedHeader">
		<div class="newsfeedTitle">Welcome</div>
		<div class="moment">2017062500</div>
	</div>

	<p>
		Welcome to CS 106A! We are looking forward to a fun quarter. Class starts Monday, June 26th at 11:30AM in NVIDIA Auditorium.  Please see the "Handouts" dropdown above for the General Information handout, as well as the Honor Code handout.  <strong>SCPD students</strong> should also read the SCPD Information handout.
	</p>
	<div class="mapOverlay" onClick="style.pointerEvents='none'"></div>
	<div class="google-maps">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.3968667895306!2d-122.17638518469231!3d37.427728379824046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbb2ac97723cb%3A0xa6e8fc1a7a5f2c29!2sNVIDIA+Auditorium!5e0!3m2!1sen!2sus!4v1498094148969" width="600" height="450" style="border:0" allowfullscreen></iframe>
	</div>
</div>

<!-- Old announcements -->
<!--
<hr/>
<div>
	<p class="subtleHeading">OLD ANNOUNCEMENTS</p>
</div>
-->