<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand" href="{{pathToRoot}}/">CS106A</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <!--<li><a href="#">Lectures</a></li>-->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lectures <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{pathToRoot}}lectures/1-Welcome">1-Welcome</a></li>
            <li><a href="{{pathToRoot}}lectures/2-ControlFlow">2-Control Flow</a></li>
            <li><a href="{{pathToRoot}}lectures/3-Decomposition">3-Decomposition</a></li>
            <li><a href="{{pathToRoot}}lectures/4-Variables">4-Variables</a></li>
            <li><a href="{{pathToRoot}}lectures/5-ControlFlowRevisited">5-ControlFlowRevisited</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Handouts <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{pathToRoot}}handouts/1 - General Information.pdf">1-General Information</a></li>
            <li><a href="{{pathToRoot}}handouts/2 - Course Placement.pdf">2-Course Placement</a></li>
            <li><a href="{{pathToRoot}}handouts/3 - Course Communication.pdf">3-Course Communication</a></li>
            <li><a href="{{pathToRoot}}handouts/4 - Honor Code.pdf">4-Honor Code</a></li>
            <li><a href="{{pathToRoot}}handouts/5 - Karel In Eclipse.pdf">5-Karel in Eclipse</a></li>
            <li><a href="{{pathToRoot}}handouts/6 - Assignment-1.pdf">6-Assignment-1</a></li>
            <li><a href="{{pathToRoot}}handouts/7 - Submitting Work.pdf">7-Submitting Work</a></li>
            <li><a href="{{pathToRoot}}handouts/8 - Karel Examples.pdf">8-Karel Examples</a></li>
            <li><a href="{{pathToRoot}}handouts/10 - Assignment-2.pdf">10-Assignment-2</a></li>
            <li><a href="{{pathToRoot}}handouts/11 - Control Statements.pdf">11-Control Statements</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Assignments <span class="caret"></span></a>
          <ul class="dropdown-menu">
           
            <li><a href="https://goo.gl/forms/x2HTAbJ8soIMCztg1">0-Who are you</a></li>
            <li><a href="{{pathToRoot}}assn/karel.html">1-Karel</a></li>
            <li><a href="{{pathToRoot}}assn/simpleJava.html">2-Simple Java</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sections <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{pathToRoot}}handouts/9 - Section-1.pdf">Section Handout 1</a></li>
            <li class="divider"></li>
            <li><a href="https://cs198.stanford.edu/cs106/auth/section/SwitchSection.aspx"><strong>On campus:</strong> Late Signup Form</a></li>
            <li><a href="https://cs198.stanford.edu/cs106/auth/section/RemoteSignup.aspx"><strong>Remote SCPD:</strong> Sign up for grader</a></li>
            <li><a href="https://cs198.stanford.edu/cs106/auth/section/SwitchSection.aspx">Switch sections</a></li>
            <li><a href="https://cs198.stanford.edu/cs106/auth/section/ViewSections.aspx?class=1">List of all section times/locations</a></li>
            <li><a href="https://cs198.stanford.edu/cs106/auth/section/DropClass.aspx?class=1">Drop section</a></li>
          </ul>
        </li>

        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="">Nothing Yet</a></li>
          </ul>
        </li>-->
       
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{pathToRoot}}schedule.html"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Schedule</a></li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
