<!--
    Holidays Winter 2017:
    Jan 16th MLK
    Feb 20th President's Day
    First day of class: Jan 9th
    Last day of class: March 17th

    Assns:
    1. Karel
    2. Simple Java
    3. Breakout
    4. Hangman
    5. Yahtzee
    6. NameSurfer
    7. FacePamphlet
-->

<div class="table-responsive">
<table class="table table-bordered">
<thead>
<tr>
<th style="col-sm-3">Week</th>
<th style="col-sm-3">Monday</th>
<th style="col-sm-3">Wednesday</th>
<th style="col-sm-3">Friday</th>
</tr>
</thead>
<td class="calendarWeekCell">1</td>
<td class="calendarCell col-sm-3">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Jan 9th</p>
1: 
Welcome to CS106A
<p>
<a href="//web.stanford.edu/class/cs106a/lectures/1-Welcome/1-Welcome.pptx"><span class="sidebaricon glyphicon glyphicon-blackboard" aria-hidden="true" title="pdf"></span> Slides</a> (<a href="//web.stanford.edu/class/cs106a/lectures/1-Welcome/1-Welcome.pdf">PDF</a>)
</p>



</p>

</div>
</td>
<td class="calendarCell col-sm-3">
<div style="position:relative">
<div class="inOut">
<br><br>Read: Karel Ch. 1-3

</div>
<p class="subtleHeading">Jan 11th</p>
2: 
Control Structures

<p>
	<i></i>
	</p>

</div>
</td>
<td class="calendarCell col-sm-3">
<div style="position:relative">
<div class="inOut">
    <br>
    <br>Read: Karel Ch. 4-6
</div>
<p class="subtleHeading">Jan 13th</p>
3: 
Problem Decomposition

</div>
</td>
</tr>
<tr>
<td class="calendarWeekCell">2</td>
<td class="calendarCell" style="background-color:hsl(0, 0%, 95%)">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Jan 16th</p>
Holiday: MLK Jr. Day
<br/>No Class

</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
    <br>
    <br>
    Read: Java Ch 1-2
</div>
<p class="subtleHeading">Jan 18th</p>
4: Intro to Java


</div>
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
<br>Read: Chapter 3
<br>Due: Assn #1

</div>
<p class="subtleHeading">Jan 20th</p>
5: Vars and expressions

</div>
<p>
	<i></i>
</p>

</td>
</tr>
<tr>
<td class="calendarWeekCell">3</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
    <br><br>Read: Chapter 4
</div>
<p class="subtleHeading">Jan 23rd</p>
6: Boolean expressions

</div>


</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
    <br><br>Read: Chapter 5
</div>
<p class="subtleHeading">Jan 25th</p>
7: Methods

</div>

</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
    <br>Read: Chapter 6
    <br>Due: Assn #2
</div>
<p class="subtleHeading">Jan 27th</p>
8: Creating Classes

</div>

</td>
</tr>
<tr>
<td class="calendarWeekCell">4</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
    <br><br>Read: Chapter 9
</div>
<p class="subtleHeading">Jan 30th</p>
9: Graphics
</div>


</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
    <br><br>Read: Chapter 10.1-10.4
</div>
<p class="subtleHeading">Feb 1st</p>
10: Events
</div>
 
</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
    <br><br>Read: Chapter 8.1-8.4
</div>
<p class="subtleHeading">Feb 3rd</p>
11: Strings

</div>

</td>
</tr>
<tr>

<td class="calendarWeekCell">5</td>

<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
<br>Read: Chapter 8.5<br>Due: Assn #3

</div>
<p class="subtleHeading">Feb 6th</p>
12: String Algorithms
</div>


</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
 <br><br>Read: Chapter 7
</div>
<p class="subtleHeading">Feb 8th</p>
13: Understanding Memory

</div>

</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
     <br><br>Read: Chapter 12.4
</div>
<p class="subtleHeading">Feb 10th</p>
14: File Processing

</div>

</td>
</tr>
<tr>
<td class="calendarWeekCell">6</td>
<td class="calendarCell" style="background-color:aliceblue">
<div style="position:relative">
<div class="inOut">
    <br><br>Midterm: 7-9p
</div>
<p class="subtleHeading">Feb 13th</p>
Midterm Day<br>No class

</div>

 
</td>
<td class="calendarCell" >
<div style="position:relative">
<div class="inOut">
<br><br>Read: 11.1-11.8
</div>
<p class="subtleHeading">Feb 15th</p>
15: Arrays
</div>

 
</td>
<td class="calendarCell" >
<div style="position:relative">
<div class="inOut">
    <br>Read: 11.1-11.8
    <br>Due: Assn #4
</div>
<p class="subtleHeading">Feb 17th</p>
16: Lists
</div>

</td>
</tr>
<tr>
<td class="calendarWeekCell">7</td>
<td class="calendarCell" style="background-color:hsl(0, 0%, 95%)">
<div style="position:relative">
<div class="inOut">

</div>
<p class="subtleHeading">Feb 20th</p>
Holiday: President's Day<br/>
No Class
</div>

</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Feb 22nd</p>
17: Debugging
</div>

</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
    <br><br>Read: Chapter 13
</div>
<p class="subtleHeading">Feb 24th</p>
18: HashMaps

</div>
 
</td>
</tr>


<tr>
<td class="calendarWeekCell">8</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
    <br>Read: Chapter 10.5-10.8
    <br>Due: Assn #5
</div>
<p class="subtleHeading">Feb 27th</p>
19: Interactors
</div>


</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">

</div>
<p class="subtleHeading">Mar 1st</p>
20: Data Structure Design I

</div>

</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
       
</div>
<p class="subtleHeading">Mar 3rd</p>
21: Data Structure Design II

</div>


</td>
</tr>


<tr>
<td class="calendarWeekCell">9</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
    <br><br>Read: Chapter 12.1-12.3
</div>
<p class="subtleHeading">Mar 6th</p>
22: Algorithms

</div>


</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
    <br><br>Due: Assn #6
</div>
<p class="subtleHeading">Mar 8th</p>
23: Software engineering

</div>

</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">

</div>
<p class="subtleHeading">Mar 10th</p>
24: Social networks

</div>


</td>
</tr>



<tr>
<td class="calendarWeekCell">10</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Mar 13th</p>
25: Standard Java

</div>

</td>
<td class="calendarCell">
<div style="position:relative">
<div class="inOut">
</div>
<p class="subtleHeading">Mar 15th</p>
26: Review for Final Exam

</div>

</td>
<td class="calendarCell" style="background-color:hsl(0, 0%, 95%)">

<div style="position:relative">
    <div class="inOut">
        <br>Due: Assn #7<br>Final: Mar 20th
    </div>
</div>

<p class="subtleHeading">Mar 17th</p>
Dead Day<br/>No Class


</td>
</tr>

</table>
</div>
