<!-- Resources -->
<div>
	<p class="subtleHeading">RESOURCES</p>

	<!-- Videos -->
	<span class="sidebaricon glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
	<a href="https://mvideox.stanford.edu/">Lecture Videos</a> <br/>
	
	<!-- Eclipse -->		
	<img src="img/icons/eclipse-icon.png" class="sidebaricon" alt="icon">
	<a href="{{pathToRoot}}eclipse.html">Eclipse</a><br/>

	<!-- Textbooks -->
	<span class="sidebaricon glyphicon glyphicon-book" aria-hidden="true"></span>
	<a href="{{pathToRoot}}textbooks.html">Textbooks</a><br/>

	<!-- Pair Programming -->
	<span class="sidebaricon glyphicon glyphicon-info-sign" aria-hidden="true"></span>
	<a href="{{pathToRoot}}pair.html">Pair Programming</a> <br/>

	<!-- LaIR schedule -->
	<span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>
	<a href="https://cs198.stanford.edu/lair/shifts">LaIR Help Hours</a> <br/>
	
	<!-- Stanford library documentation -->
	<img src="img/icons/stanford-favicon.png" class="sidebaricon" alt="icon">
	<a href="http://stanford.edu/~stepp/acmdoc/">Stanford Library Docs</a><br/>
	
	<!-- Blank Karel project -->		
	<span class="sidebaricon glyphicon glyphicon-save" aria-hidden="true"></span>
	<a href="{{pathToRoot}}/resources/BlankKarelProject.zip">Blank Karel Project</a> <br/>

	<!-- Blank Java project -->
	<span class="sidebaricon glyphicon glyphicon-save" aria-hidden="true"></span>
	<a href="{{pathToRoot}}/resources/BlankJavaProject.zip">Blank Java Project</a> <br/>
</div>

<hr/>

<!-- Exams -->
<div>
	<p class="subtleHeading">EXAMS</p>
	<p>
		<a href="{{pathToRoot}}exams/midterm.html">Midterm</a><br/>
		<span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>Monday, July 24<br/>
		<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span>7-9PM
	</p>
	<p>
		<a href="{{pathToRoot}}exams/final.html">Final</a><br/>
		<span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>Friday, August 18<br/>
		<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span>12:15-3:15PM
	</p>
</div>

<hr/>

<!-- SCPD -->
<div>
	<p class="subtleHeading">SCPD OFFICE HOURS</p>
	<!--
	<p><span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> Mon 6:30-7:30PM PST</p>
	<p><span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> Tues 7-8PM PST</p>
	<p><span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> Wed 6-8PM PST</p>
	<p><span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> Thurs 7-8PM PST</p>

	<br />
	Join Google Hangouts <a href="https://plus.google.com/hangouts/_/calendar/Y3MxOThzY3BkQGdtYWlsLmNvbQ.u7o1h874cspofvfbdnste1l1rc">here</a> at the times above.
	-->
	Coming soon!
</div>

<hr/>

<!-- Staff -->
<div class="row">
	<p class="subtleHeading col-xs-12">STAFF</p>

	<!-- Lecturer -->
	<div class="staffBox col-xs-6 col-sm-12">
		<img src="{{pathToRoot}}img/people/nick.jpg" style="width:100%" alt="Nick Troccoli" />
		Lecturer: Nick Troccoli<br />
		<span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span>troccoli@stanford.edu<br />
		<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>Gates B02<br/>
		<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span>TBD<br/>
	</div>

	<!-- Head TA -->
	<div class="staffBox col-xs-6 col-sm-12">
		<img src="{{pathToRoot}}img/people/rishi.jpg" style="width:100%" alt="Rishi Bedi" />
		Head TA: Rishi Bedi<br />
		<span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span>rbedi@stanford.edu<br>
		<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span>Gates B02<br/>
		<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span>TBD<br/>
	</div>
</div>
<hr/>