

.container { max-width: 760px; } 

body {
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 70px;
}

p {
  text-align: justify;
}

pre {
  background-color: white;
}

li {
  text-align: justify;
  margin-bottom: 0px;
}

dd {
    margin-bottom: 2.5em;
}

code {
    color:black;
    padding:0px;
    border:0px;
    background-color:transparent;
    font-weight: bold;
}

.mapOverlay {
   background:transparent; 
   position:relative; 
   width:100%;
   height:450px; /* your iframe height */
   top:450px;  /* your iframe height */
   margin-top:-450px;  /* your iframe height */
   z-index:9999;
}

.subtleHeading {
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a:link:after, a:visited:after {
    content: "";
}

pre {-moz-tab-size: 3;} /* Code for Firefox */
pre {-o-tab-size: 3;} /* Code for Opera 10.6-12.1 */
pre {tab-size: 3;}

.moment {
  font-style:italic;
}

.well {
    background-color: aliceblue;
        border-color: #bce8f1;
}

.input {
  color:red;
  font-style: bold;
}

/* INDEX */

#title {
  font-size:30px;
    font-weight:bold;
}

.staffBox {
  text-align: left !important;
}

#logoImg {
  float: left;
  width: 85px;
}

#headerText {
    margin-left:10px;
    float:left;
}

.newsfeedTitle {
  font-size:14px;
  color: #3b5998;
  font-weight:bold;
}

.sidebaricon {
  width:15px !important;
  margin-right: 5px;
  margin-bottom:5px;
}

.newsfeedHeader {
  margin-bottom:5px;
}

.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.calendarCell {
    height:210px;
    width:225px;
    border: 1px solid black;
    vertical-align:top;
    padding:10px;
}

.calendarWeekCell {
    max-width:50px;
    vertical-align:top;
}

.inOut {
  position:absolute;
  top:130px;
  color:hsl(0, 0%, 60%);
}
