% rebase('templates/template.ptl', title='CS 106A | Eclipse')

<!-- Header -->
<div class="row">
    <div class="col-xs-12">
        <div id="pageHeader">
            <h1>
            Eclipse
        </h1>
        </div>
        <hr/>
    </div>
</div>

<!-- Overview -->
<div class="row">
    <div class="col-xs-12">
        <p>
            In CS 106A, we'll be using Stanford's customized version of Eclipse to build our programs. Eclipse is an enormously popular industrial strength Java environment with many features. Fortunately, Eclipse is also open source -- anyone is free to change Eclipse to work the way they want. We have taken advantage of that freedom to install special Stanford features into Eclipse, tailoring it specifically for CS 106A. This document gives instructions on how to get started using Stanford Eclipse. Please pay close attention to these instructions and do not skip steps!
            <br />
            <br /> 
            If you run into any trouble installing Eclipse, please feel free to stop by office hours or the LaIR, or ask after lecture.
        </p>
    </div>
</div>

<hr/>

<!-- Show a 4-panel collapsible "accordion" containing various Eclipse instructions -->
<div class="panel-group" id="eclipse-accordion" role="tablist" aria-multiselectable="true">

    <%
        panels = [
            ["Mac Installation", "macInstallation"],
            ["Windows Installation", "windowsInstallation"],
            ["Importing and Running Projects", "importingRunning"],
            ["Submitting Projects", "submitting"],
            ["Using the Debugger", "debugger"]
        ]
    %>

    % for panel in panels:
        <!-- {{panel[0]}} -->
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="{{panel[1]}}Heading">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#eclipse-accordion" href="#collapse{{panel[1]}}" aria-expanded="false" aria-controls="collapse{{panel[1]}}">
                    <h4 class="panel-title">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                        {{panel[0]}}
                    </h4>
                </a>
            </div>
            <div id="collapse{{panel[1]}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{{panel[1]}}Heading">
                <div class="panel-body">
                    %include('templates/eclipse/' + panel[1] + '.ptl')
                </div>
            </div>
        </div>
    % end
</div>

<hr/>

<!-- FAQ -->
<h2>FAQ</h2>
<dl>
    <dt id="libError">
        Q: Eclipse is showing an error in the Console "Could not save C++ lib configuration file".  Do I need to worry about this?
    </dt>
    <dd>
        A: No.  This error should not affect the running of your programs, and you can ignore it.
    </dd>
    <dt id="twostep">
        Q: When trying to submit, after logging in with my SUNET ID and password, Eclipse is asking me for a "passcode".  What is this?
    </dt>
    <dd>
        A: The submitter is asking for a two-step authentication passcode, as an additional form of security; please see the updated Eclipse submission instructions above.
    </dd>
    <dt id="newFile">
        Q: I want to create another file/program within this project.  How do I do this?
    </dt>
    <dd>
        A:
        <ol>
            <li>Right-click on "default package" within the <code>src</code> folder, and go to <strong>New -> Class</strong>.</li>
            <li>
                In the "Name" field, enter the name for your new file.  Click "Finish".
                <br />
                <img style="width:50%;" src="{{pathToRoot}}images/eclipse/newClass.png" alt="Add New Class" />
                <br />
            </li>
            <li>This will create a new file in your project.  Replace the code in that file with the code you would like to include.</li>
        </ol>
    </dd>
    <dt id="plugin">
        Q: Help!  I don't see the "running person", submit, import, etc. icons or the "Stanford Menu" in my Eclipse.
    </dt>
    <dd>
        A: This means the Stanford Plugin is not installed; please repeat steps 8 onwards in either the Mac or Windows installation instructions above.
    </dd>
    <dt id="eclipsebroken">
        Q: My Eclipse window doesn't look like the ones in the screenshots or in lecture.  I'm missing some of the panels (e.g. the sidebar showing all my projects).  Help!
    </dt>
    <dd>
        A: Click the "Reset" button in the Stanford Menu to reset to the default view.
        <br />
        <img style="width:25rem;" src="{{pathToRoot}}images/eclipse/stanfordMenu.png" alt="Stanford Menu" />
        <br />
        You may also be in Debugger mode instead of Editor mode; use the Stanford Menu to go back to Editor mode.
        <br />
        <img style="width:25rem;" src="{{pathToRoot}}images/eclipse/stanfordMenu.png" alt="View Toggle" />
        <br />
    </dd>
    <dt id="importError">
        Q: Help!  Eclipse is not letting me import a project.  It gives me a warning at the top that "Some projects cannot be imported".
        <br />
        <img style="width:25rem;" src="{{pathToRoot}}images/eclipse/importError.png" alt="Import Error" />
        <br />
    </dt>
    <dd>
        A: This is because a project with that name is already imported into Eclipse. If you would like to import this project, you must first delete the existing project by right-clicking the project in the sidebar and selecting "Delete".  You can then choose whether to delete the project from your computer as well, or just delete the project from Eclipse.
        <br />
        <img style="width:25rem;" src="{{pathToRoot}}images/eclipse/deleteProject.png" alt="Delete project" />
        <br />
    </dd>
</dl>